<% provide(:title,"About") %>

<div class="about">
  <div class="row">
    <h1>About</h1>
  </div>

  <div class="panel-group">
      <div class="panel panel-success">
        <div class="panel-heading">Feauture:</div>
        <div class="panel-body">Pithugram members can broadcast tweets and follow
           other users' tweets by using multiple platforms and devices.</p>

    <p>Tweets and replies to tweets can be sent by cell phone text message,
      desktop client or by posting at the pithugram.com website.</div>
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">Use Cases:</div>
        <div class="panel-body">Let's say you are interested in learning more about cloud computing. </p><p>First, you could search Pithugram to see if anyone is talking (tweeting) about cloud computing. A quick search reveals that lots of Pithugram members are talking about cloud computing.
Now you could do one of several things.</p><p> You could simply keep tabs on cloud computing by returning and searching Pithugram each day (not very efficient -- but effective) or you could join Pithugram and follow people who have posted tweets that catch your interest. As a Pithugram member, you can post your own tweets or you can just remain a follower and lurk.
</div>
      </div>



    </div>


</div>
