
<div class= "users">

  <div class= "row">

  <h2 style="margin-bottom: 20px;">Profile</h2>

  <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-10">

<%= gravatar_tag @user.email, :size => 70 %>


<h3 style="text-align: center;">  Name:&nbsp <%= @user.name %></h3>
</div>
</div>
</div>
