@import "bootstrap-sprockets";
@import "bootstrap";

/* HOME PAGE */
.jumbotron{
  text-align: center;

  h1{
    font-family: cursive;
    }
}

.footer{
li {
  margin-right:10px;
}}

/*NAVBAR */
.navbar-default{
  background-color: white;
  border: 0px;
  border-top: 1px solid lightgrey;
}


.help{
  text-align: center;
  .row{
    margin-top: 50px;
  }
}

.about{
  h1{
    font-family: cursive;
    text-align: center;
  }
  .panel-group{
    margin-top: 30px;
  }
}

/* TOP MARGIN OF CONTAINER FOR MOBILE */
.xs-margin {
    margin-top: 80px;
}
