@import "bootstrap-sprockets";
@import "bootstrap";

/* HOME PAGE */
.jumbotron{
  text-align: center;

  h1{
    font-family: cursive;
    }
}

.footer{
  margin-top: 70px;
li {
  margin-right:10px;
}}

/*NAVBAR */
.navbar-default{
  background-color: white;
  border: 0px;
  border-top: 1px solid lightgrey;
}


.help{
  h1{
    font-family: cursive;
  text-align: center;}
  .row{
    margin-bottom: 30px;

  }
}

.about{
  h1{
    font-family: cursive;
    text-align: center;
  }
  .panel-group{
    margin-top: 30px;
  }
}

/* TOP MARGIN OF CONTAINER FOR MOBILE */
.xs-margin {
    margin-top: 25px;
}



.center {
  text-align: center;
}



.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
   padding: 0;
   li {
     padding: 10px 0;
     border-top: 1px solid #e8e8e8;
   }
   .gravatar {
     float: left;
     margin-right: 10px;
     margin-top: 5px;
   }


}


.micropost{

   padding: 0;
   list-style: none;
   li {

     padding: 10px 0;
     border-top: 1px solid #e8e8e8;
   }
   .gravatar {
     float: left;
     margin-right: 10px;
     margin-top: 5px;
   }
   .user {
     margin-top: 5em;
     padding-top: 0;
   }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }

}
