<div class="navbar navbar-bottom">
    <div class="container">
      <div class= "row">
        <div class="col-xs-9 col-md-12">
      <p class="navbar-text pull-left">©
           <a href="http://hackncs.com" target="_blank" >Nibble Computer Society</a>
      </p>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Help',help_path, class: 'pull-right' %></li>
       <li>  <%= link_to 'About',about_path, class: 'pull-right' %></li>
      <li><%= link_to 'Contact',contact_path, class: 'pull-right' %></li>
    </ul>
  </div>
</div>
  </div>
    </div>
