<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">

     <a class="navbar-brand" href="#">Pithugram</a>
   </div>

   <ul class="nav navbar-nav navbar-right">
     <li><%= link_to "<span class='glyphicon glyphicon-home pull-right'></span> Home&nbsp".html_safe, root_path %></li>
     <li><%= link_to "<span class='glyphicon glyphicon-user pull-right'></span>Login&nbsp".html_safe,'#' %></li>

   </ul>

 </div>
</nav>
